[Desktop Entry]
Version=1.0
Type=Application
Name=OCR Screenshot (Czech)
Comment=Recognizes text from an image an copies it into your clipboard.
Exec=ocr-image-czech
Icon=gconf-editor
Categories=Office;
Terminal=false
StartupNotify=false
